@import './base.css';

@font-face {
  font-family: Harabara;
  src: url('public/Harabara.woff');
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Harabara"), url("public/Harabara.woff") format("woff");
}

@font-face {
  font-family: Sansation;
  src: url('public/Sansation_Regular.woff');
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Sansation"), url("public/Sansation_Regular.woff") format("woff");
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1 {
  font-family: Harabara,serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

a,
.primary {
  text-decoration: none;
  color: #57A5F8;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #071E34;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
